

li {
    position: relative;
    display: inline;
    padding: 5px 15px 3px 15px;
    background: rgb(120, 120, 255);
    border-right: solid 1px #ddd;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    margin-right: 10px;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu {
    position: relative;
    display: block;
    width: 900px;
    margin: 20px auto 0px auto;
}

.menuDecor {
    border-top: solid 1px #fff;
    position: absolute;
    top: 26px;
    width: 100%;
    height: 10px;
    background: rgb(120, 120, 255);
    z-index: 1;
}


.pageHeader {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    display: block;
    width: 900px;
    margin: 40px auto 0px auto;
    letter-spacing: 5px;
    text-align: center;
}


.tableHeader {
    background: rgb(90, 90, 255);
}

.basicTemplate {
    border-spacing: 0px 8px;
    display: table;
    margin: 0px auto 80px auto;
    display: block;
    width: 900px;
    display: block;
}

.childBasicTemplate1 {
    display: table-row;
    cursor: pointer;
}
.childBasicTemplate1:hover {
    background: rgba(0, 80, 255, 0.3);
}
.childBasicTemplate1:nth-child(2n)  {
    background: rgba(0, 100, 255, 0.2);
}
.childBasicTemplate1:nth-child(2n):hover  {
    background: rgba(0, 80, 255, 0.3);
}

.childBasicTemplate2 {
    display: table-cell;
    padding: 10px;
}

.childBasicTemplate2:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: solid 1px #fff;
    color: #fff;
    background: rgba(120, 120, 255, 0.5);
}

.backgroundCell {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
}
.backgroundLastCell {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: solid 1px #eee;
}

.yellowText {
    color: yellow;
    padding: 0px 5px 0px 4px;
    font-size: 20px;
}

.displTable {
    display: table;
}
.dispTableRow {
    display: table-row;
}
.dispTableRow {
    display: table-cell;
}

.subtitle {
    font-weight: bold;
}

.sizeStyle {
    font-size: 20px;
    font-weight: bold;
    color: maroon;
    padding: 0px 3px 0px 3px;
}

